// White theme

// Color variables
$black: #181818;
$red: #E74727;
$red-dark: #DC3918;
$gray-light: #f5f5f5;
$white: #fff;
$blue: #268bd2;

$primary: $red;

// Config
$color-background: $gray-light !default;
$color-dot-accent: $primary !default;
$color-foreground: $black !default;
$color-title: $black !default;
$color-body-text: $black !default;
$color-text-accent: $primary !default;
$color-code: $primary !default;
$color-nav-link: $primary !default;
$color-primary-link: $primary !default;
