<% oauth_grant = rodauth.scope.instance_variable_get(:@oauth_grant) %>
<%= form_tag rodauth.device_path, method: :post, class: "form-horizontal", id: "device-verification-form" do %>
  <p class="lead">The device with user code <%= oauth_grant[rodauth.oauth_grants_user_code_column] %> would like to access your data.</p>

  <div class="form-group">
    <h1 class="display-6"><%= rodauth.oauth_tokens_scopes_label %></h1>

    <ul class="list-group">
      <% oauth_grant[rodauth.oauth_grants_scopes_column].split(rodauth.oauth_scope_separator).each do |scope| %>
        <li class="list-group-item"><%= scope %></li>
      <% end %>
    </ul>
  </div>
  <%= hidden_field_tag :user_code, rodauth.param("user_code") %>

  <p class="text-center">
    <%= submit_tag rodauth.oauth_device_verification_button, class: "btn btn-outline-primary" %>
    <%= link_to rodauth.oauth_cancel_button, "#{rodauth.device_path}?error=access_denied", class: "btn btn-outline-danger" %>
  </p>
<% end %>
